@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-dark: oklch(0.92 0.06 281);
    --bg: oklch(0.96 0.06 281);
    --bg-light: oklch(1 0.06 281);
    --text: oklch(0.15 0.12 281);
    --text-muted: oklch(0.4 0.12 281);
    --highlight: oklch(1 0.12 281);
    --border: oklch(0.6 0.12 281);
    --border-muted: oklch(0.7 0.12 281);
    --primary: oklch(0.4 0.12 281);
    --secondary: oklch(84.639% 0.03609 290.86);
    --danger: oklch(0.5 0.12 30);
    --warning: oklch(0.5 0.12 100);
    --success: oklch(0.5 0.12 160);
    --info: oklch(0.5 0.12 260);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    padding: 30px;

    background-color: var(--bg-dark);
    font-family: "Montserrat";
    font-size: 18px;
}

.page {
    max-width: 1280px;
    border-radius: 8px;
    background-color: var(--bg-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.banner {
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    padding: 10px 10px 10px 10px;    
    background-color: var(--bg);
    color: var(--primary);
}

.banner p {
    width: 600px;
    display: inline-block;
}

h1 {
    font-family: "Racing Sans One", "sans-serif";
    font-size: 50px;
    color: var(--primary);
}

.nav {
    text-align: center;
    padding: 10px;
    background-color: #E0D5F3;
    color: var(--primary);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-muted);
    font-weight: bold;
}

a {
    margin: 0px 8px 0px 0px;
    color: var(--nav-link);
    transition: color 0.3s;
}

a:hover {
    color: var(--border-muted);
}

h2 {
    color: var(--primary);
}

.internal-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--bg);
}

.dashboard-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 25px;
}

.main {
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--bg-light);
    color: var(--text);
}

.crud-main {
    display: block;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--bg-light);
    color: var(--text);
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 95%; 
    table-layout: auto; 
}

td, th {
    border: solid 1px var(--text);
    padding: 10px;
    font-size: 16px;
}

th {
    background-color: #E0D5F3;
}

#output {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.error-output {
    color: var(--danger);
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

ul {
    list-style: circle;
    padding-left: 25px;
}

h2 {
    text-align: center;
    color: var(--primary);
}

.report-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.main-header {
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--bg);
    color: var(--primary);
}

.report-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--bg);
}

.maddy-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 0px 10px 10px 10px;
}

.hidden {
    display: none;
}

#modal {
    background: #E0D5F3;
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 35%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#modal-header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#modal-list {
    list-style: none;
    display: grid;
    gap: 8px;
    overflow: auto;
}

#modal-title {
    font-size: 18px;
}

#close {
    color: var(--primary);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#close:hover {
    background-color: var(--bg);
    color: var(--primary);
}

.content {
    position: relative;
    max-width: 600px;
    margin: 6% auto;
    background: #fff;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
}

#close {
    position: absolute;
    right: 8px;
    top: 8px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

#list {
    margin: 0;
    padding-left: 16px;
    max-height: 50vh;
    overflow: auto;
}

.add-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--bg);
    color: var(--text);
}

.center-form {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createForm {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    text-align: right;
    border-radius: 0 0 8px 8px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.form-row > label {
    width: 260px;
}

input {
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 4px;
    width: 200px;
}

.addEntity {
    background-color: var(--primary);
    color: var(--bg-light);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button {
    background-color: var(--primary);
    color: var(--bg-light);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--bg);
    color: var(--primary);
}